
body {
    background-color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

/* NAVIGATION STYLES */
nav {   /* Slightly darker shade for contrast */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    /* CRITICAL: This makes list items horizontal */
    /* Centers the items */
    list-style: none;
    /* Removes bullets */
    padding: 0;
    gap: 30px;
    /* Adds space between the links */
}
nav  a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hover effect to make it look interactive */
nav ul li a:hover{
        border: 3px solid #333;
    
}

/* search btn*/
.search-btn {
    display: flex;
    align-items: center;
    /* Ensures the input and button align perfectly in the middle */
    gap: 5px;padding: 5px;
    /* distinct space between input and button */
} 
        .search-btn input[type=text] {
        width:160px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        background-image: url('img/icons8-search-49.png');
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 10px;
        }



.search-btn input:hover{
color: #2f1d94;
}

/* Layout for the main content */
main {
    max-width: 1000px;
    margin: 0 auto;
    /* Centers the content on the screen */
    padding: 30px;
}

section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
}

section h2{
font-weight: bold;
text-align: center;
}section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /* Centers the image */
}
 
section p{
    text-align:center;
    }
.tag{
color:darkorchid;
}
.Top-Stories ol {
text-align:right;
font-weight: 400;

}
.Container{
    display: flex;
}
.Container .Container-1{
    margin:40px;
}
.Container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /* Centers the image */
}
.sp-1{
border:1px solid rgb(114, 110, 110) ;
border-radius: 10px;
padding: 5px 5px 5px;
color: rgb(134, 14, 194);
background-color:rgb(221, 214, 224) ;
margin-bottom: 50px;
}
.sp-2{
border: 1px solid rgb(114, 110, 110);
    border-radius: 10px;
    padding:5px 5px 5px;
    color: #2501f3;
    margin-bottom: 50px;
    background-color:#e1deefbd;
}
footer {
    text-align: center;
    padding: 20px;
    color: #333;
}

