
body {
    background-color: rgb(237, 234, 229);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

/* NAVIGATION STYLES */
nav {   /* Slightly darker shade for contrast */
    padding: 10px;
    display: flex;
    border:1px solid gray;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    display: flex;
    /* CRITICAL: This makes list items horizontal */
   
    /* Centers the items */
    list-style: none;
    /* Removes bullets */
    padding: 0;
    gap: 30px;
    /* Adds space between the links */
}

nav ul li a {
    border: 3px solid transparent;

    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hover effect to make it look interactive */
nav ul li a:hover{
        border: 3px solid #333;
    
}

/* search btn*/
.search-btn {
    display: flex;
    align-items: center;
    /* Ensures the input and button align perfectly in the middle */
    gap: 5px;padding: 5px;
    /* distinct space between input and button */
} 
    .search-btn input {
            width: 200px;
            padding: 5px;
        }


nav .search-btn button{
    border-radius: 10px;
    background-color: rgb(254, 255, 255);
}
.search-btn input:hover{
color: #2f1d94;
}

/* Layout for the main content */
main {

    max-width: 1000px;
    margin: 0 auto;
    /* Centers the content on the screen */
    padding: 30px;


}

section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border: #00c344 2px solid;
        border-radius: 20px;
}
section h2{
font-weight: bold;
text-align: center;
}section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /* Centers the image */
}
section p{
    text-align:center;
    }


section:hover{
    border: #2bccdb 2px solid;
}
footer {
    text-align: center;
    padding: 20px;
    color: #333;
}

