
body {
    background-color: rgb(237, 234, 229);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* NAVIGATION STYLES */
nav {   /* Slightly darker shade for contrast */
    padding: 10px;
    display: flex;
    border:1px solid gray;
    
    background-color:aqua;
}
nav ul {
    display: flex;
    /* CRITICAL: This makes list items horizontal */
   
    /* Centers the items */
    list-style: none;
    /* Removes bullets */
    padding: 0;
    justify-content: space-between;
    gap: 30px;
    /* Adds space between the links */
}
nav ul a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hover effect to make it look interactive */
nav ul li a:hover{
    border-top: 3px solid #333;

        border-right: 3px solid #333;
    border-left: 3px solid #333;
        border-bottom:3px solid #333;
        color:white;
}

/* search btn*/
nav .search-btn{
}
nav .search-btn input  {

    border-radius: 30px;
    width: max-content;
}
nav .search-btn button{
    border-radius: 10px;
    background-color: aqua;
}
.search-btn input:hover{
color: #2f1d94;
}

/* Layout for the main content */
main {

    max-width: 1000px;
    margin: 0 auto;
    /* Centers the content on the screen */
    padding: 30px;


}

section {
    margin-bottom: 30px;
    padding-bottom: 20px;border: #00c344 solid;
        border-radius: 20px;
}
section h2{
font-weight: bold;
text-align: center;
}
section p{
    text-align:center;
    }


section:hover{
    border: #2bccdb solid;
}
footer {
    text-align: center;
    padding: 20px;
    color: #333;
}

