*{
    background-color: rgb(223, 167, 92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(223,167,92);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* NAVIGATION STYLES */
nav {   /* Slightly darker shade for contrast */
    padding: 10px;
    display: flex;
}
.navbar__container{
display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 40px;
    cursor: pointer;
}
.navbar__container a{
    text-decoration: none;
color: #333;
    font-weight: bold;
}
nav ul {
    display: flex;
    /* CRITICAL: This makes list items horizontal */
    justify-content:left;
    /* Centers the items */
    list-style: none;
    /* Removes bullets */
    padding: 0;
    margin: 0;
    gap: 30px;
    /* Adds space between the links */
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover{
    border-top: 3px solid #333;
        border-right: 3px solid #333;
    border-left: 3px solid #333;
        border-bottom:3px solid #333;
        color:white;
}

/* Hover effect to make it look interactive */
nav ul li a:hover {
    color: #e4e8e7;
}

/* Layout for the main content */
main {
    max-width: 1000px;
    margin: 0 auto;
    /* Centers the content on the screen */
    padding: 30px;
}

section {
    margin-bottom: 30px;
    padding-bottom: 20px;
}
section h2 p{
justify-content: center;
}

footer {
    text-align: center;
    padding: 20px;
    color: #333;
}
h2{
font-weight: bold;
text-align: center;
}
